#pic1 {
    width: 100%;
    height: auto;
    float: left;
    padding: 0 0 0 0;
    margin: 0 20px 20px 0
}
#pic2 {
    float: left;
    max-width: 35%;
    max-height: auto;
    padding: 1em;
}
body {
    background-color: darkcyan;
    margin: 10%;
}
.social {
    height: 30px;
    width: 30px;
}
